@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="hero-banner" style="background-color:orange">
            <div class="container">
            <h1 class="hero-unit">
            @Model.ProjectsTitle</h1>
            </div>
        </div>

    </div>
</div>

<!-- github -->
<div class="row">
    <div class="col-md-12">
        <div class="show-articles-background">
            <div class="container">

@{
	var selection = Umbraco.Content(Guid.Parse("89cd8b6b-21d1-401d-8b52-63ded938d777"))
    .ChildrenOfType("projectItem")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
			<li>
    			<article class="col-md-3" >
                <div class="articletitle"><a href="@item.Url">@item.Name</a></div>
                <div class="articlepreview">@Html.Raw(item.Value("projectDescription").ToString().Truncate(100)) <a href="@item.Url">Read More..</a></div>
                </article>
    		</li>
	}
</ul>



                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="background" style="background-color:black">
            <div class="container blackground">
         
            @Model.ProjectsBodyText
            </div>
        </div>

    </div>
</div>